@font-face {
    font-family: 'Zonaix';
    src: url('../fonts/Zonaix.otf') format('opentype');
    format('opentype'); /* Format OpenType*/
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #0D1B40;
    color: #fff;
    font-family: 'Zonaix', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    overflow-y: auto; /* Affiche la barre de défilement verticale quand le texte dépasse */
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

#container-image-text{
    display: flex;
    flex-direction: row;
}

#chapter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

#textContainer {
    flex: 3; /* Le texte prend plus de place */
    padding: 30px;
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
    word-wrap: break-word;
    max-width: 70%; /* Limite la largeur du texte */
    margin-right: 20px; /* Espacement avec l'image */
}

#chapter-title {
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centre totalement */
    font-size: 2.5rem;
    color: #FF4500;
    margin-bottom: 20px;
    text-shadow: 0 4px 10px rgba(255, 69, 0, 0.6); /* Ombre rouge/orange autour du titre */
    white-space: nowrap;
    opacity: 0; /* Initialement invisible */
    animation: fade-in 1s ease-in-out forwards; /* Animation pour faire apparaître */
}

#image-container {
    display: flex;
    flex-direction: row;
    flex: 1; /* L'image prendra un espace réduit */
    max-width: 30%; /* Limite la largeur de l'image */
    padding: 10px;
    opacity: 0; /* Initialement invisible */
    transition: opacity 2s ease-in-out; /* Animation pour fade-in */
}

#image-container img {
    width: 100%; /* L'image s'ajuste à la largeur de son conteneur */
    height: auto; /* L'image garde ses proportions */
    border-radius: 10px; /* Ajout d'un arrondi si nécessaire */
    object-fit: cover; /* L'image est coupée si nécessaire pour remplir l'espace */
}

.event-button {
    position: relative;
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

.event-button:hover {
    background-color: #E03E00;
}

#buttonLinks-container, #buttonLinksFight-container{
    position: fixed; /* Si le conteneur doit rester en place */
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
}

.deco-button {
    position: relative;
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

.buttonNavbar-container {
    position: absolute; /* Si le conteneur doit rester en place */
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
}

#event-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 0, 0, 0.8); /* Fond rouge semi-transparent */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fade-in 2s ease-in-out; /* Animation d’apparition */
    z-index: 1000; /* Toujours au-dessus */
    display: none; /* L'élément est caché par défaut */
}

/* Style pour le popup /
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 300px;
    text-align: center;
  }

  / Style pour le bouton */
.popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.popup button:hover {
    background-color: #45a049;
}



#inventory-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;

    background-color:#0D1B40;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


#img_classe{
    width: 100%; height: 100%; object-fit: contain;
}

#img_inventaire{
    width: 100%; height: 100%; object-fit: contain; border-radius: 50px;
}

.popup, .phppopup{
    color: #0D1B40;
}

.contenirInventaire{
    width: 7%;
    height: 7%;
}


/* Style pour le bouton ParamÃ¨tres */
.settings-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.settings-btn:hover {
    background-color: #FF4500;
}

.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.popup-content {
    padding: 20px;
    background-color: #444;
    color:white;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.popup-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.popup-content li {
    margin: 10px 0;
}


.popup-content button {
    padding: 10px 20px;
    border: none;
    background-color: #FF4500;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.popup-content button:hover {
    background-color: #e03e00;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

.close-btn:hover {
    color: #FF4500;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Style pour le popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 300px;
    text-align: center;
    background: grey;
}

/* Style pour le bouton */
.popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.popup button:hover {
    background-color: #45a049;
}

#inventory-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;

    background-color:#0D1B40;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    position: absolute;
    top: 5px;
    left: 5px;
    width: 6em;
    height: 6em;
}


#img_classe{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#img_inventaire{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50px;
}

.popup, .phppopup{
    color: #0D1B40;
}

.contenirInventaire {
    width: 7%;
    height: 7%;
}


@keyframes fade-in {
    0% {
        opacity: 0; /* Début invisible */
    }
    100% {
        opacity: 1; /* Fin totalement visible */
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Ajout pour rendre responsive */
@media (max-width: 1200px) {
    #textContainer {
        width: 90%; /* Largeur adaptative */
        height: auto; /* Hauteur dynamique */
    }

    h1 {
        font-size: 4rem; /* Taille réduite du titre */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    #textContainer {
        font-size: 13px; /* Ajustement taille texte */
        padding: 20px; /* Réduction des marges */
    }

    .event-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem; /* Plus petit titre */
    }

    #textContainer {
        font-size: 12px; /* Réduction encore plus du texte */
        padding: 10px; /* Marges réduites */
    }

    .event-button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}
